# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
pip-wheel-metadata/

# Packaging
build/
dist/

# Test caches
.pytest_cache/
.mypy_cache/
.pyright/

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db